body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background: linear-gradient(120deg, #bc93ff, #6200ff)
}
h1{
    margin-left: 700px;
}
div{
}
form{
    margin-left: 700px;
}
input{
    

}