body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background: linear-gradient(120deg, #bc93ff, #6200ff)
}
h1{
    margin-left: 700px;
    text-decoration-line: overline;
    text-shadow: #bc93ff;
    font-size: 40px;
}
div{
}
form{
    margin-left: 700px;
}
.txt-area{
    margin-left: 1200px;
}
.botones{
    margin-left: 700px;
}
.genero{
    margin-left: 900px;
}
.carta{
    margin-left: 1200px;
}